@{
    ViewData["Title"] = "Welcome Page";
}
    <form action = "process" method = "POST">
        <h4>What is your name? <input name = "name" type = "text"></h4>
        <input type = "submit" name = "submit" value="submit">
    </form>